# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# MacOS
.DS_Store

# Logs
*.log

# IDEs
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp
*.swo
